<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">DuckJitsu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngFor="let link of links">
        <a class="nav-link" href="#/{{link.location}}">{{link.title}}</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link"><a href="mailto:duck.jitsu@gmail.com"><i class="fas fa-envelope"></i></a></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link"><a href="https://www.facebook.com/austin.daffron.7" target="_blank"><i class="fab fa-facebook-square"></i></a></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link"><a href="https://www.instagram.com/duck_jitsu" target="_blank"><i class="fab fa-instagram"></i></a></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link"><a href="https://www.youtube.com/channel/UCK6tYFgZgEhCHj2_Q8i80uA" target="_blank"><i class="fab fa-youtube"></i></a></a>
      </li>
    </ul>
  </div>
</nav>
