<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-nav></app-nav>
  <router-outlet></router-outlet>
</div>

<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBJ0qCbc0EdNAS-wmIlAJks4LZEJ9hH8CQ",
    authDomain: "coffeetoo-202a1.firebaseapp.com",
    databaseURL: "https://coffeetoo-202a1.firebaseio.com",
    projectId: "coffeetoo-202a1",
    storageBucket: "coffeetoo-202a1.appspot.com",
    messagingSenderId: "557358249642"
  };
  firebase.initializeApp(config);
</script>
